@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-indigo: #AAC;
    --clr-lightblue: #002;
    --clr-lightpurple: #224;
    --clr-maintext: #EEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--clr-lightblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--clr-maintext);
}

header {
    width: 100vw;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    background: linear-gradient(var(--clr-lightpurple), var(--clr-lightblue));
    padding: 1rem 0;  
    width: 100vw;
    opacity: 0.9;
}

header h1 {
    background-color: var(--clr-lightpurple);
    padding: 1rem 0;  
    text-align: center;
    color: var(--clr-maintext);
    font-weight: bold;
    font-size: clamp(1rem, 10vw, 3rem);
    letter-spacing: 2px;
    text-shadow: 0 0 5px var(--clr-indigo);
    margin-bottom: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main {
    margin: 1rem 1rem 4rem;
}

.project-box,
.filters {
    background-color: var(--clr-lightpurple);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.filters {
    margin: 0 1rem;
    position: sticky;
    top: -5px;
    z-index: 1;
    opacity: 0.9;
    width: calc(100vw - 2rem);
    display: flex;
    align-items: center;
}

.project-box h3 {
    color: var(--clr-indigo);
}

.project-box h3, 
.project-box p {
    margin-bottom: 0.5rem;
}

.projectText {
    position: relative;
}

.projectText > p {
    margin-bottom: 1rem;
}

.projectPicture {
    overflow: hidden;
    border-radius: 0.5rem;
    width: 100%;
}

.projectPicture > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: transform 0.25s;
    transform: scale(1);
}

.projectPicture > img:hover {
    transform: scale(1.2);
}

a, a:visited {
    color: var(--clr-indigo);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

.rev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.ve {
    color: lightseagreen;
    font-weight: 700;
}

.ea {
    color: green;
    font-weight: 700;
}

.in {
    color: goldenrod;
    font-weight: 700;
}

.ad {
    color: orangered;
    font-weight: 700;
}

.gu {
    color: darkred;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-end;
}

.icons > img {
    display: block;
    width: 24px;
    height: auto;
}

.filters form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-tech {
    display: flex;
    flex-direction: row;
}

.doubleicon {
    position: relative;
    width: 36px;
}

.doubleicon img:first-child, 
.doubleicon img:last-child {
    display: block;
    width: 24px;
    height: auto;
    position: absolute;
}

.doubleicon img:first-child {
    top: 0;
    left: 0;
}

.doubleicon img:last-child {
    bottom: 0;
    right: 0;
}

select {
    width: 200px;
    font: inherit;
    outline: none;
    background-color: var(--clr-lightblue);
    border: 1px solid var(--clr-indigo);
    color: var(--clr-maintext);
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}

input[type='checkbox'] {
    border: 1px solid var(--clr-indigo);
    width: 24px;
    background-color: var(--clr-lightblue);
    accent-color: var(--clr-indigo);
    margin: 0 0.25rem 0 1rem;
}

input[type='checkbox']:first-of-type {
    margin-left: 0;
}

hr {
    width: 1px;
    border: none;
    background-color: var(--clr-indigo);
}

@media only screen and (min-width: 600px) {
    .project-box {
        flex-direction: row;
    }

    .projectPicture {
        width: 50%;
    }
    
    .projectText {
        width: 50%;
    }

    a {
        position: absolute;
        bottom: 0;
    }

    .filters form {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .filters {
        align-items: flex-start;
    }

    .rev {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1200px) {
    header h1 {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    footer {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    header, 
    footer,
    main {
        max-width: 1200px;
    }

    .filters {
        margin: 0;
        max-width: 1200px;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}