@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: aliceblue;
}

header {
    width: 100vw;
    background: linear-gradient(aliceblue, #DDF);
    padding: 2rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 1rem;
}

header h1 {
    text-align: center;
    color: indigo;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-shadow: 0 0 2px indigo;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
}

.project-box {
    background-color: #DDF;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.project-box h3 {
    color: indigo;
}

.project-box h3, 
.project-box p {
    margin-bottom: 0.5rem;
}

.projectText {
    position: relative;
}

.projectPicture {
    overflow: hidden;
    border-radius: 1rem;
}

.projectPicture > img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    transition: transform 0.25s;
    transform: scale(1);
}

.projectPicture > img:hover {
    transform: scale(1.2);
}

a, a:visited {
    color: indigo;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

.rev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ve {
    color: lightseagreen;
    font-weight: 700;
}

.ea {
    color: green;
    font-weight: 700;
}

.in {
    color: goldenrod;
    font-weight: 700;
}

.ad {
    color: orangered;
    font-weight: 700;
}

.gu {
    color: darkred;
    font-weight: 700;
}

.icons > img {
    display: inline;
    width: 24px;
    height: auto;
}

.filters {
    grid-area: 1/1/1/2;
    padding-left: 2rem;
}

.filters form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.filter-tech {
    display: flex;
    flex-direction: row;
}

.filter-tech > img {
    margin-right: 1rem;
    margin-left: 0.25rem;
}

select {
    font: inherit;
    outline: none;
    background-color: aliceblue;
    border: 1px solid indigo;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}

input[type='checkbox'] {
    border: 1px solid indigo;
    width: 24px;
    background-color: aliceblue;
    accent-color: indigo;
}

hr {
    width: 1px;
    border: none;
    background-color: indigo;
}

@media only screen and (min-width: 600px) {
    header h1 {
        font-size: 3rem;
    }

    main {
        margin: auto 1rem;
    }

    .project-box {
        flex-direction: row;
    }

    .projectPicture {
        width: 50%;
    }
    
    .projectText {
        width: 50%;
    }

    a {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (min-width: 1200px) {

    header {
        margin: 0 auto 1rem;
        max-width: 1200px;
    }

    main {
        margin: 0 auto 1rem;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filters {
        grid-area: 1/1/1/3;
    }
}