@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: "IBM Plex Sans", sans-serif; */

:root {
    /* Color */

    --clr-cyan: #66E2DC;
    --clr-orange: #FA7453;
    --clr-gold: #FFB964;
    --clr-white: #FCFAF9;
    --clr-black: #191826;

    /* Font */

    --font-h1: 700 clamp(40px, 8vw, 88px)/clamp(40px, 100%, 88px) "IBM Plex Sans", sans-serif;
    --font-h2: 700 clamp(32px, 10vw, 40px)/48px "IBM Plex Sans", sans-serif;
    --font-bh: 500 clamp(16px, 3vw, 20px)/34px "IBM Plex Sans", sans-serif;
    --font-bm: 400 clamp(18px, 3vw, 20px)/30px "IBM Plex Sans", sans-serif;
    --font-bf: 400 16px/26px "IBM Plex Sans", sans-serif;
    --font-bp: 400 20px/32px "IBM Plex Sans", sans-serif;
    --font-btn: 700 18px "IBM Plex Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--clr-white);
}

.main-background {
    position: absolute;
    content: url('../media/bg-main-mobile.png');
    max-width: 582px;
    max-height: 780px;
    top: -15%;
    left: 0%;
    z-index: 0;
} 

.logo-right {
    position: absolute;
    width: 266px;
    height: auto;
    top: -50px;
    left: 700px;
}

/* Header */

.logo {
    margin-bottom: 15%;
}

.logo > img {
    width: 146px;
    height: auto;
    display: block;
}

.header__text > h1 {
    font: var(--font-h1);
    color: var(--clr-black);
    letter-spacing: -1px;
    margin-bottom: 5%;
}

.header__text > p {
    font: var(--font-bh);
    line-height: 26px;
    color: var(--clr-black);
}

.header-content {
    margin-bottom: 15rem;
    padding: 2rem 5% 0;
}

/* Main */

.main-content {
    background-color: var(--clr-black);
    position: relative;
    border-radius: 1rem;
    max-width: 375px;
    display: flex;
    justify-content: center;
    margin-bottom: 37rem;
}

.main-content-background {
    padding: 0 3rem;
    max-width: 100%;
    height: auto;
    display: block;
}

.img-phone {
    max-width: clamp(208px, 60%, 270px);
    height: auto;
    display: block;
    position: absolute;
    top: -30%;
}

.info {
    background-color: var(--clr-orange);
    color: var(--clr-white);
    border-radius: 1rem;
    position: absolute;
    left: auto;
    top: 90%;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: clamp(260px, 100%, 375px);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info > h2 {
    font: var(--font-h2);
}

.info > p {
    font: var(--font-bm);
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.big {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 65px;
    line-height: 52px;
    font-weight: 700;
}

.pr {
    font: var(--font-bp);
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem ;
    padding: 0 5% 3rem;
    color: var(--clr-black);
    font: var(--font-bf);
}

.lb::before {
    content: '\a';
    white-space: pre;
}

.sm-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.sm-icons > img:hover {
    cursor: pointer;
    filter: invert(76%) sepia(67%) saturate(5345%) hue-rotate(329deg) brightness(106%) contrast(96%)
}

/* Buttons */

.btn {
    width: clamp(200px, 100%, 333px);
    height: 61px;
    border-radius: 0.75rem;
    font: var(--font-btn);
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.btn-ios {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.btn-ios::before {
    content: url('../media/icon-apple.svg');
}

.btn-ios:hover,
.btn-ios:focus-visible {
    background-color: var(--clr-cyan);
    cursor: pointer;
}

.btn-android {
    background-color: var(--clr-white);
    color: var(--clr-black);
}

.btn-android::before {
    content: url('../media/icon-android.svg');
}

.btn-android:hover,
.btn-android:focus-visible {
    background-color: var(--clr-gold);
    cursor: pointer;
}

/* media queries */

@media (max-width: 300px) {
    .header__text > h1 {
        font-size: 32px;
    }

    .img-phone {
        width: 50%;
    }

    .main-content {
        margin-bottom: 40rem;
    }
}

@media (min-width: 768px) {
    .header__text > h1 {
        width: 65%;
    }

    .header__text > p {
        width: 90%;
    }

    .main-content {
        width: 90%;
        max-width: 90%;
        margin-bottom: 20rem;
    }

    .main-background {
        position: absolute;
        content: url('../media/bg-main-tablet.png');
        max-width: 1283px;
        max-height: 1108px;
        top: -15%;
        left: -35%;
    } 

    .img-phone {
        left: 10%;
    }

    .info {
        right: 10%;
        top: 20%;
    }

    .logo-right {
        left: 70%;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .tr {
        grid-area: 2/1;
    }

    .sm-icons {
        grid-area: 2/2;
        justify-content: end;
    }

}

@media (min-width: 1200px) {
    .header__text > h1 {
        width: 60%;
    }

    .header__text > p {
        width: 60%;
    }

    .header-content {
        margin-bottom: 15rem;
        padding: 2rem 10% 0;
    }

    .main-content {
        width: 80%;
        max-width: 80%;
        margin-bottom: 20rem;
    }

    .main-background {
        position: absolute;
        content: url('../media/bg-main-desktop.png');
        max-width: 1913px;
        max-height: 2058px;
        top: -15%;
        left: 0;
    } 

    .img-phone {
        left: 10%;
    }

    .info {
        right: 10%;
        top: 20%;
    }

    .logo-right {
        width: 312px;
        height: auto;
        top: -50px;
        left: 70%;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 10% 3rem;
    }

    .tr {
        grid-area: 1/2;
    }

    .sm-icons {
        grid-area: 1/3;
        
    }

}