/* 
- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%)
- Weights: 400, 600, 700 
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --cls-white: hsl(0, 0%, 100%);
    --cls-light-pink: hsl(275, 100%, 97%);
    --cls-gray-purple: hsl(292, 16%, 49%);
    --cls-dark-purple: hsl(292, 42%, 14%);
}