/* 
- Weights: 500, 700
*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-darkblue: hsl(217, 19%, 35%);
    --clr-darkgray: hsl(214, 17%, 51%);
    --clr-gray: hsl(212, 23%, 69%);
    --clr-lightgray: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Manrope", sans-serif;
    width: 100vw;
}

body {
    min-height: 100vh;
}